/* ===============================================================
			Mobile Menu
================================================================= */
.nav-outer .mobile-nav-toggler {
    position: relative;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: var(--black-color);
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    float: right;
    margin: 13px 0;
    display: none;
    transition: 0.5s;
}

.mobile-menu {
    position: fixed;
    right: -300px;
    top: 0;
    width: 300px;
    padding-right: 30px;
    max-width: 100%;
    height: 100%;
    z-index: 999999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}

.mobile-menu-visible .mobile-menu {
    right: 0;
    opacity: 1;
    visibility: visible;
}

.mobile-menu .mCSB_scrollTools {
    right: -6px;
}
.mobile-menu .mCSB_inside > .mCSB_container {
    margin-right: 5px;
}
.mobile-menu .navbar-collapse {
    display: block !important;
}
.mobile-menu .nav-logo {
    position: relative;
    padding: 0px 10px 30px;
    text-align: left;
    margin-bottom: 50px;
    margin-top: 25px;
    max-width: 160px;
}

.mobile-menu .menu-backdrop {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-transform: translateX(101%);
    -ms-transform: translateX(101%);
    transform: translateX(101%);
    transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    background-color: rgba(0, 0, 0, 0.9);
}
.mobile-menu-visible .mobile-menu .menu-backdrop {
    opacity: 0.7;
    visibility: visible;
    -webkit-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}
.mobile-menu .menu-box {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    background: var(--bg-1);
    box-shadow: 2px 2px 5px 1px rgba(255, 255, 255, 0.05),
    -2px 0px 5px 1px rgba(255, 255, 255, 0.05);
    padding: 0px 0px;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    border-radius: 0px;
    -webkit-transform: translateX(101%);
    -ms-transform: translateX(101%);
    transform: translateX(101%);
    transition: all 0.8s ease;
}
.mobile-menu-visible .mobile-menu .menu-box {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}
.mobile-menu .close-btn {
    position: absolute;
    right: 10px;
    top: 25px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    z-index: 10;
    -webkit-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    transition: all 0.9s ease;
}
.mobile-menu .navigation {
    position: relative;
    display: block;
    width: 100%;
    float: none;
}
.mobile-menu .navigation li {
    position: relative;
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.mobile-menu .navigation:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.mobile-menu .navigation li > ul > li:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.mobile-menu .navigation li > a {
    position: relative;
    display: block;
    line-height: 24px;
    padding: 10px 25px;
    font-size: 15px;
    font-weight: 500;
    color: var(--black-color);
    text-transform: uppercase;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.mobile-menu .navigation li ul li > a {
    font-size: 15px;
    margin-left: 20px;
    text-transform: capitalize;
}
.mobile-menu .navigation li > a:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.mobile-menu .navigation li.current > a:before {
    height: 100%;
}
.mobile-menu .navigation li.dropdown .dropdown-btn {
    position: absolute;
    right: 6px;
    top: 6px;
    width: 32px;
    height: 32px;
    text-align: center;
    font-size: 16px;
    line-height: 32px;
    color: var(--white-color);
    background: var(--primary-color);
    cursor: pointer;
    border-radius: 2px;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 5;
}
.mobile-menu .navigation li.dropdown .dropdown-btn.open {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.mobile-menu .navigation li > .megamenu,
.mobile-menu .navigation li > ul,
.mobile-menu .navigation li > ul > li > ul {
    display: none;
}

/* social */
.mobile-menu .social-media {
    margin-top: 40px;
}
.mobile-menu .social-media ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.mobile-menu .social-media ul li a {
    width: 27px;
    height: 27px;
    border-radius: 4px;
    border: 1px solid #909090;
    background: var(--black-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #909090;
    transition: 0.5s;
}
.mobile-menu .social-media ul li a .icon-twiter {
    font-size: 13px;
}
.mobile-menu .social-media ul li a:hover {
    background: var(--secondary-color);
    color: var(--white-color);
}
