.categories .common-title-container {
    margin-bottom: 55px;
}

.categories-tabs {
    position: relative;
    border-bottom: none !important;
    display: flex;
    align-items: center;
    gap: 48px;
}

.categories-tabs .nav-item.show .nav-link,
.categories-tabs .nav-link.active,
.categories-tabs .nav-link:focus,
.categories-tabs .nav-link:hover {
    color: var(--black-color) !important;
    background-color: transparent !important;
    border-color: transparent !important;
    border-bottom: 3px solid var(--primary-color) !important;
    padding-bottom: 10px;
}

.categories-tabs .nav-link .categories-icon {
    display: block;
    max-width: 129px;
    width: 100%;
    aspect-ratio: 129 / 130;
    border-radius: 8px;
    margin: 0 auto;
}

.categories-tabs .nav-link .categories-icon img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.categories-tab-title {
    font-weight: 400;
    color: var(--black-color);
    margin-top: 16px;
    display: inline-flex;
}

.categories-botton-area {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.categories-nav-slider .swiper-slide {
    display: flex;
    justify-content: center;
}

.categories-botton-area nav {
    width: 100%;
}

.categories-tabs .swiper-button-next {
    right: 0;
}

.categories-tabs .swiper-button-prev {
    left: 0;
}

/* categories filter */
.filter-button .modal {
    background: rgb(var(--black-color-rgb), 0.6);
}

.filter-main-button {
    border: 1px solid var(--border-2);
    padding: 17px 16px;
    border-radius: 8px !important;
}

.filter-button .btn-2 {
    background: var(--primary-color);
    padding: 12px 32px;
    border-radius: 60px !important;
    color: var(--white-color) !important;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

.filter-button .btn-2::after {
    background: var(--black-color);
}

.filter-button .btn-2:hover {
    color: var(--white-color);
}

.categories-container .modal-dialog {
    margin-top: 80px !important;
    margin-bottom: 50px !important;
}

.categories-container .modal-body {
    padding: 0 30px !important;
    height: 680px;
}

.categories-modal-content {
    padding: 30px 0;
    border-bottom: 1px solid var(--border-1);
}

.categories-modal-content .count-single {
    border-bottom: none;
    padding: 12px 0;
}

.amenities-list .btn-3 {
    padding: 0 15px;
}

.amenities-list .btn-3 .btn-wrapper .btn-single {
    gap: 7px;
}

/* categories filter */

/* prince range */
.sidebar-range-slider {
    width: 100%;
    text-align: left;
}

.slider-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.sidebar-range-slider .noUi-connect {
    background: var(--primary-color);
}

.sidebar-range-slider p {
    margin-bottom: 0;
    margin-top: 20px;
}

.noUi-horizontal {
    height: 8px !important;
}

.noUi-horizontal .noUi-handle {
    width: 25px !important;
    height: 25px !important;
    border-radius: 50%;
    right: -13px !important;
    top: -9px !important;
}

.noUi-handle:after,
.noUi-handle:before {
    display: none !important;
}

/* prince range */

.modal-count-container {
    width: 100%;
    background-color: var(--white-color);
}

.amenities-list ul {
    display: flex;
    align-items: center;
    gap: 10px;
    row-gap: 15px;
    flex-wrap: wrap;
}

/* swiper navigation */
.swiper.categories-nav-slider {
    position: relative;
    overflow: hidden;
    max-width: 1315px;
    width: 100%;
}

.swiper-button-next {
    left: auto;
    right: 0;
}

.swiper-button-prev {
    right: auto;
    left: 0;
}

.swiper-button-next,
.swiper-button-prev {
    background: var(--btn-bg);
    width: 73px !important;
    height: 46px !important;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: "";
    width: 56px;
    height: 47px;
    border-radius: 40px 40px 0 0;
    border-top: 0.6px solid #ebebeb;
    border-right: 0.6px solid #ebebeb;
    border-left: 0.6px solid #ebebeb;
    transform: rotate(-90deg);
    position: absolute;
}

.swiper-button-next::after {
    left: -10px;
}

.swiper-button-prev::after {
    right: -10px;
    transform: rotate(90deg);
}

/* swiper navigation */

.categories-container .tab-pane {
    margin-top: 60px;
}

.categories-single-image-container {
    position: relative;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.most-favorite {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 2;
}

.most-favorite a {
    background: rgba(var(--white-color-rgb), 0.8);
    box-shadow: var(--shadow-2);
    padding: 5px 15px;
    border-radius: 30px;
    color: var(--black-color);
    font-size: 14px;
    font-weight: 400;
}

.wishlist-icon {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 2;
    font-size: 20px;
}

.wishlist-icon a {
    color: var(--white-color);
}

/* host modal */
.hostButton {
    position: absolute;
    left: 16px;
    bottom: 16px;
    padding: 0;
    z-index: 2;
    width: 60px;
    height: 60px;
    background: #e3e4e5;
    border-radius: 0 10px 10px 0 !important;
}

.hostButton::after {
    content: "";
    width: 2px;
    height: 100%;
    background: var(--border-2);
    position: absolute;
    top: 0;
    left: 5px;
}

.hostButton .host-btn {
    display: inline-block;
    max-width: 33px;
    width: 100%;
    height: 33px;
    border-radius: 50%;
}

.pageFoldRight {
    position: absolute;
    width: 0px;
    height: 0px;
    top: 0;
    right: 0;
    border-radius: 0 16px 0 16px;
    border-left: 1px solid var(--border-2);
    border-bottom: 1px solid var(--border-2);
    box-shadow: var(--shadow-2);
}

.hostButton .host-btn img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#hostModal {
    background: rgb(var(--black-color-rgb), 0.6);
}

#hostModal .modal-dialog {
    max-width: 390px;
}

.host-modal-content {
    background: var(--bg-2) !important;
    border-radius: 20px !important;
}

.host-modal-info {
    width: 100%;
    padding: 40px 30px;
    background: var(--white-color);
    box-shadow: var(--shadow-2);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;

    opacity: 0;
    transform: scale(1);
}

.host-modal-info.animate {
    animation: fadeSlideUp 0.4s ease-in-out 0.4s forwards;
}

@keyframes fadeSlideUp {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.host-info-left {
    text-align: center;
}

.host-modal-image img {
    width: 80px !important;
    height: 80px !important;
    border-radius: 50%;
}

.host-modal-designation {
    color: var(--black-color) !important;
}

.host-modal-designation h4 {
    font-size: 38px;
    font-weight: 600;
    margin: 10px 0 10px;
}

.host-modal-info-list ul li {
    padding: 10px 0;
    border-bottom: 1px solid var(--border-2);
    color: var(--black-color) !important;
}

.host-modal-info-list ul li h4 {
    margin-bottom: 5px;
}

.host-modal-info-list ul li h6 {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
}

.host-modal-other-info {
    margin-top: 30px;
}

.host-modal-other-info ul li {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color-1);
    display: flex;
    align-items: center;
    gap: 7px;
}

.host-modal-testimonial-single {
    border: 1px solid var(--border-2);
    padding: 20px 20px;
    border-radius: 15px;
}

.modal-guest-info {
    display: flex;
    gap: 10px;
}

.modal-guest-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.modal-guest-info h5 {
    margin-bottom: 0;
}

.host-modal-testimonial,
.host-modal-about {
    border-top: 1px solid var(--border-2);
    padding: 30px 0;
}

.host-modal-testimonial h4 {
    margin-bottom: 16px;
}

.host-modal-slider .swiper-button-next,
.host-modal-slider .swiper-button-prev {
    position: absolute;
    top: 50% !important;
    transform: translateY(-50%);
    margin-top: 0;
}

.host-modal-slider .swiper-button-next {
    right: -15px;
}

.host-modal-slider .swiper-button-prev {
    left: -15px;
}

/* host modal */

.categories-single-image {
    width: 100%;
    height: 100%;
    aspect-ratio: 171/128;
    /*margin: 0 -1px;*/
}

.categories-single-image-container a {
    width: 100%;
    height: 100%;
}

.categories-single-image-container a img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.owl-dot {
    background: transparent;
}

.owl-theme .owl-dots .owl-dot span {
    background: var(--white-color) !important;
    margin: 0px 5px 0px 5px !important;
    width: 10px !important;
    height: 2px !important;
}

.owl-theme .owl-dots .owl-dot.active span {
    width: 15px !important;
}

.owl-dots {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}
.categories-single .owl-dots {
    display: none;
}

button.owl-next,
button.owl-prev {
    position: absolute;
    top: 45%;
    transform: translateX(-50%);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: rgba(var(--white-color-rgb), 0.4) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

button.owl-next:hover,
button.owl-prev:hover {
    background: var(--white-color) !important;
}

button.owl-next span,
button.owl-prev span {
    font-size: 26px;
    line-height: 21px;
    margin-bottom: 6px;
}

button.owl-prev {
    left: 30px;
}

button.owl-next {
    right: 0;
}

.categories-single-title a {
    color: var(--black-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 10px;
}

.categories-single-title a:hover {
    color: var(--primary-color);
}

.categories-single-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0 0;
}

.categories-single-date .rat .fa-star {
    color: var(--primary-color) !important;
    font-size: 12px;
}

.categories-single-date .rat h5 {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0;
}

.categories-single-date .rat h5 span {
    color: var(--text-color-1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.categories-single-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.categories-single-btn .btn-2 {
    padding: 11px 20px;
}

.categories .tab-content>.active {
    padding: 0;
}

.load-more-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 80px;
}

.load-more-btn.btn-2 {
    background: var(--black-color) !important;
    color: var(--white-color) !important;
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
    border-color: var(--black-color) !important;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.load-more-btn.btn-2:hover {
    border-color: var(--primary-color) !important;
    background: var(--primary-color) !important;
}

.load-more-btn.btn-2 img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white-color);
}

@media (max-width: 991px) {
    .load-more-btn-wrapper {
        margin-top: 60px;
    }
}

@media (max-width: 767px) {
    .load-more-btn-wrapper {
        margin-top: 40px;
    }
}

/* ---------------------------------
categories 2
---------------------------------- */
.categories-tabs2 {
    padding: 50px 20px 35px;
    background-color: var(--bg-10);
    border-radius: 16px;
}

.categories-tabs2 .swiper-button-next,
.categories-tabs2 .swiper-button-prev {
    background-color: var(--white-color);
}

.categories-tabs2 .swiper-button-next::after,
.categories-tabs2 .swiper-button-prev::after {
    border-top: 0.6px solid #ffffff;
    border-right: 0.6px solid #ffffff;
    border-left: 0.6px solid #ffffff;
}

.categories-tabs2 .swiper-button-prev::after {
    right: -10px;
    transform: rotate(90deg);
}

/* ---------------------------------
categories 2
---------------------------------- */

/* ---------------------------------
responsive
---------------------------------- */
/* MackBook */
@media only screen and (max-width: 1440px) {
    .categories-botton-area {
        gap: 0;
    }

    .filter-button .btn-2 {
        padding: 14px 15px;
    }

    .categories-single-btn .btn-2 {
        padding: 7px 14px;
        font-size: 14px;
    }

    .categories-two .categories-botton-area {
        padding: 15px 15px 0 0px;
    }
}

/* Large screen  */
@media only screen and (min-width: 1200px) and (max-width: 1319px) {
    .swiper.categories-nav-slider {
        max-width: 964px;
    }

    .categories-single-btn .btn-2 {
        padding: 6px 10px;
        font-size: 12px;
    }

    .categories-single-btn p {
        font-size: 12px;
    }
}

/* Medium screen  */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .swiper.categories-nav-slider {
        max-width: 827px;
    }

    .categories-two .categories-botton-area {
        padding: 15px 10px 0 5px;
    }

    .categories-single-btn-text p {
        font-size: 12px;
    }

    .categories-single-image {
        width: 100%;
    }

    .categories-single-btn {
        flex-direction: column;
        align-items: flex-start;
    }

    .categories-single .categories-single-date {
        display: none;
    }
}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .swiper.categories-nav-slider {
        max-width: 587px;
    }

    .categories-single-btn .btn-2 {
        padding: 6px 10px;
        font-size: 12px;
    }

    .categories-single-btn p {
        font-size: 14px;
    }
}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
    .swiper.categories-nav-slider {
        max-width: 420px;
    }

    .categories-single-title a {
        font-size: 18px;
    }

    .categories-single-btn .btn-2 {
        padding: 6px 10px;
        font-size: 12px;
    }

    .categories-single-btn p {
        font-size: 14px;
    }

    .filter-button .btn-2 {
        padding: 10px 10px;
        font-size: 12px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 63px !important;
        height: 30px !important;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        width: 41px;
        height: 31px;
    }

    .swiper-button-prev::after {
        right: -10px;
        transform: rotate(90deg);
    }
}

@media (max-width: 575px) {
    .swiper.categories-nav-slider {
        max-width: 300px;
    }
}

/* ---------------------------------
responsive
---------------------------------- */
