/* contact-details */
.contact-details {
    padding: 0 0 90px;
}

.contact-details-content {
    text-align: -webkit-center;
}

.contact-details-content:hover .contact-details-icon {
    background: var(--primary-color);
    color: var(--white-color);
}

.contact-details-content:hover .contact-details-icon i {
    color: var(--white-color);
}

.contact-details-icon {
    max-width: 74px;
    width: 100%;
    height: 74px;
    border-radius: 50%;
    background: #FCF3F3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: var(--black-color);
    transition: 0.5s;
    margin-bottom: 12px;
}

.contact-details-icon i {
    color: var(--primary-color);
    transition: 0.5s;
}

.contact-details-info h6 {
    color: var(--black-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.contact-details-info {
    text-align: center;
}

.contact-details-info a {
    color: var(--black-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* contact-details */

.cmn-input {
    border-radius: 8px;
    border: 1px solid var(--border-2);
    background: var(--white-color);
    padding: 17px 17px;
    width: 100%;
    margin-bottom: 20px;
}

.contact-form h3 {
    font-size: 42px;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 24px;
}

.contact-form label {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 10px;
}

.contact-form .cmn-input::placeholder,
textarea {
    color: var(--text-color-1);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.contact-form textarea {
    height: 146px;
}


/* contact page */
.contact {
    padding: 0 0 120px;
}

.contact-container {
    position: relative;
}

.contact-form {
    margin: 45px 90px 0 90px;
    position: relative;
    padding: 32px 32px;
    border-radius: 24px;
    background: var(--white-color);
    box-shadow: 5px 2px 12px 4px rgba(205, 205, 205, 0.20);
    z-index: 1;
    border: 1px solid var(--border-1);
}

.contact .contact-form textarea {
    height: 215px;
    font-size: 16px;
}

.contact .checkbox-input {
    margin-top: 0;
    margin-bottom: 30px;
}

.contact .form-check-input {
    margin-top: 7px;
}

.contact .contact-form label {
    margin-bottom: 0;
}

.contact .contact-form .btn-1 {
    padding: 15px 35px;
    border-radius: 8px;
}

.contact .contact-form .btn-1::after {
    border-radius: 8px;
}

.contact-image {
    max-width: 953px;
    width: 100%;
    height: 667px;
    border-radius: 24px;
    position: absolute;
    right: 90px;
    top: 0;
}

.contact-image img {
    width: 100%;
    height: 100%;
    border-radius: 24px;
    object-fit: cover;
}

/* contact-map */
.contact-map {
    padding: 120px 0 120px;
    width: 100%;
    border-radius: 16px;
}

.contact-map iframe {
    width: 100%;
    height: 548px;
    border-radius: 16px;
}



/* ---------------------------------
responsive
---------------------------------- */
/* Large screen  */
@media only screen and (min-width: 1200px) and (max-width: 1319px) {
    .contact-form {
        margin: 45px 34px 0 0;
    }
}

/* Medium screen  */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .contact-details-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }

    .contact {
        padding: 0;
    }

    .contact-image {
        max-width: 860px;
        width: 100%;
        height: 625px;
        border-radius: 24px;
        position: absolute;
        right: 0;
        top: 0;
    }

    .contact .contact-form textarea {
        height: 174px;
        font-size: 18px;
    }

    .contact-form {
        margin: 45px 34px 0 0;
    }
}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .contact-details {
        padding: 0 0 70px;
    }

    .contact-form {
        margin: 45px 90px 0 0px;
    }

    .contact-map {
        padding: 100px 0 100px;
    }

    .contact-map iframe {
        height: 373px;
    }

    .contact {
        padding: 0;
    }

    .contact-image {
        max-width: 860px;
        width: 100%;
        height: 625px;
        border-radius: 24px;
        position: absolute;
        right: 0;
        top: 0;
    }

    .contact .contact-form textarea {
        height: 170px;
        font-size: 16px;
    }

}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
    .contact-details {
        padding: 0px 0 50px;
    }

    .contact-form {
        margin-top: 40px;
    }

    .contact-map {
        padding: 100px 0 100px;
    }

    .contact-map iframe {
        height: 373px;
    }

    .contact-image {
        height: 411px;
    }

    .contact-form h3 {
        font-size: 32px;
        line-height: 45px;
    }

    .contact .form-check-input {
        margin-top: 8px;
    }

    .contact {
        padding: 0;
    }

    .contact-image {
        display: none;
    }

    .contact-form {
        margin: 45px 0px 0 0px;
        padding: 32px 20px;
    }

    .contact .contact-form textarea {
        height: 170px;
        font-size: 16px;
    }

    .contact .checkbox-input {
        display: flex;
        gap: 5px;
    }
}

/* ---------------------------------
responsive
---------------------------------- */