.sign-in {
    padding: 50px 0 80px;
}
.sign-in-image-cotainer {
    position: relative;
}
.sign-in-logo {
    max-width: 140px;
}
.sign-in-left-btn {
    position: absolute;
    top: 32px;
    right: 42px;
}

.sign-in-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 40px;
    border-radius: 30px;
    box-shadow: 1px 4px 20px 0px rgba(212, 212, 212, 0.2);
}
.sign-in-title {
    margin-bottom: 15px;
}
.sign-in-title h3 {
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    margin-bottom: 20px;
}

.sign-in-form-group {
    margin-top: 24px;
}
.password-1 .sign-in-form-group {
    margin-top: 0;
}
.sign-in-form-group label {
    color: var(--text-color-1);
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 10px;
}
.sign-in-input {
    width: 100%;
    padding: 16px 16px;
    border-radius: 8px;
    border: 1px solid var(--border-1);
    background: var(--white-color);
}
.sign-in-input::placeholder {
    color: var(--text-color-1);
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}
.password-box,
.password-box-two {
    position: relative;
}
.password-box i,
.password-box-two i {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
}
.sign-in-image img {
    border-radius: 24px;
}
.rember {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.rember .form-check {
    margin-bottom: 0;
}
.rember .rember-password a {
    color: var(--secondary-color);
}
.rember .rember-password a:hover {
    color: var(--primary-color);
}
.sign-in-btn button {
    margin-top: 40px;
    width: 100%;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.media-login {
    max-width: 448px;
    margin: 0 auto;
    margin-top: 16px;
}
.media-login-border {
    position: relative;
    text-align: center;
}
.media-login-border h5 {
    position: relative;
    width: 35px;
    color: var(--praimary-color);
    font-family: "Sen", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    background: var(--white-color);
    margin: 0 auto;
    text-align: center;
    z-index: 1;
}
.media-login-border::after {
    content: "";
    width: 100%;
    height: 1px;
    background: #d6dfdf;
    position: absolute;
    left: 0;
    top: 12px;
}
.media-login ul {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin-top: 24px;
}
.media-login ul li a {
    width: 110px;
    height: 72px;
    border-radius: 4px;
    border: 1px solid #d6dfdf;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.media-login ul li a img {
    transition: 0.5s;
}
.media-login ul li a:hover img {
    transform: scale(1.1);
}
.signup-account {
    margin-top: 19px;
}
.signup-account p a {
    font-weight: 500;
    color: var(--secondary-color);
}
.signup-account p a:hover {
    color: var(--primary-color);
}
.signup-account p a i {
    transition: 0.3s;
}
.signup-account p a:hover i {
    margin-right: 5px;
}

.sign-in-form-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sign-in-form-name .sign-in-form-group {
    width: 48%;
}

.otp-section .sign-in-form {
    max-width: 414px;
}

.sign-in-container-navigation {
    margin-top: 100px;
    position: relative;
    z-index: 1;
}
.sign-in-container-navigation ul {
    display: flex;
    align-items: center;
    gap: 10px;
}
.sign-in-container-navigation ul li {
    max-width: 69px;
    width: 100%;
    height: 6px;
    border-radius: 5px;
    background: var(--white-color) !important;
}
.sign-in-container-navigation ul li.active {
    background: var(--praimary-color) !important;
}

/* Large screen  */
@media only screen and (min-width: 1200px) and (max-width: 1319px) {
    .sign-in-title h3 {
        font-size: 38px;
        line-height: 48px;
    }
}

/* Medium screen  */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .sign-in-title h3 {
        font-size: 32px;
        line-height: 42px;
    }
    .sign-in-container-navigation {
        margin-top: 50px;
    }
}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .sign-in {
        padding: 80px 0 80px;
    }
    .sign-in-container {
        margin-right: 0;
        justify-content: center;
        text-align: center;
    }
    .sign-in-form-group {
        text-align: start;
    }
    .sign-in-form-group {
        margin-bottom: 0;
    }
    .sign-in-container-navigation {
        margin-top: 50px;
    }
    .sign-in-container-navigation ul {
        justify-content: center;
    }
}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
    .sign-in {
        padding: 80px 0 80px;
    }
    .sign-in-container {
        margin-right: 0;
    }
    .media-login ul li a {
        width: 80px;
        height: 56px;
    }
    .sign-in-container-navigation {
        margin-top: 50px;
    }
    .sign-in-form-group {
        margin-bottom: 0;
    }

    .sign-in-image {
        display: none;
    }
    .sign-in-container {
        padding: 80px 10px 40px;
    }
    .sign-in-left-btn {
        display: none;
    }
    .sign-in-logo {
        left: 10px;
    }
    .sign-in-title h3 {
        font-size: 34px;
        line-height: 43px;
    }
    .sign-in-form-name {
        flex-direction: column;
        align-items: flex-start;
    }
    .sign-in-form-name .sign-in-form-group {
        width: 100%;
    }
}
