/* search box */
.hrader-search-input {
    position: relative;
    width: 233px;
}
.hrader-search-input input {
    color: var(--black-color);
    background-color: var(--white-color);
    border: 1px solid var(--border-1);
    padding: 9px 20px 9px 20px;
    border-radius: 32px;
    width: 100%;
    transition: 0.5s;
}
.hrader-search-input input::placeholder {
    color: var(--text-color-1);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.header-search-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    padding: 0 13px;
    font-size: 14px;
    background-color: var(--black-color);
    color: var(--white-color);
    border-radius: 0 32px 32px 0;
    transition: 0.5s;
}

.search-content-box {
    background-color: var(--white-color);
    position: absolute;
    border-radius: 20px;
    padding: 15px 10px 10px;
    border: 1px solid var(--border-1);
    max-width: 278px;
    width: 100%;
    margin-top: 2px;
    z-index: 999999;
    transform: translateY(10px);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.search-options {
    max-height: 350px;
    padding: 0;
    overflow: hidden;
}

.search-options:hover{
    overflow-y: auto;
}
.search-options li {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.search-options li:last-child {
    border-bottom: none;
}
.search-options li:hover {
    background: var(--bg-1);
    border-radius: 12px;
}

.search-options li .options-list-icon {
    width: 52px;
    min-width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-1);
    border-radius: 12px;
}
.search-options li .options-list-icon i {
    position: relative;
    left: 0;
    color: var(--secondary-color);
    font-size: 24px;
}
.search-options li .options-list-icon i.fa-person-dress {
    font-size: 36px;
}
.search-options li h6 {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 0;
}
.search-options li p {
    font-size: 14px;
    margin-bottom: 0;
}
.search-box.active .search-content-box {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
/* search box */
